<nav id="mainFooter" class="navbar navbar-inverse navbar-fixed-bottom">

<div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Copyright © 2017 Lighthouse Labs Midterm Project ®</a>
    </div>
</div>
</nav>

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/nav_bar.js"></script>
<script type="text/javascript" src="/scripts/register-input.js"></script>
