<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diner Take-Out</title>
  </head>

  <body>

    <nav class="nav-bar">
      <img class="logo" src="find logo image">
      <span class="header">Diner</span>
      <button type="button">
        <i class="new-order"> New Order </i>
      </button>

      <button type="button">
        <i class="cart"> cart </i>
      </button>


    </nav>

  </body>
</html>