<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-2 row-centered">
      <img class="icon hidden-sm hidden-xs" src="images/logo-image-3.png">
    </div>
    <div class="col-md-5 restaurant-title">
      <div class="navbar-header">

        <a class="navbar-brand" href="/"><h2>Foghorn's Southern Diner</h2></a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <span class="cart-badge">
         <i class="fa fa-shopping-cart"></i>Cart
         <span class="badge"></span>
        </span>

        <form action="/register" method="get">
          <button type="submit" class="btn btn-outline-primary reg-badge">Register</button>
        </form>

      </div>
      </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
