<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Diner</a>
      <!-- <a href="#" class="navbar-left"><img src="/images/logo-image-3.png"></a> -->
    </div>
      <p class="text-right">
        <button type="button" class="btn btn-default navbar-btn">Create New Order</button>
        <button type="button" class="btn btn-default navbar-btn">My Order</button>
      </p>
  </div>
</nav>






