<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-2 row-centered">
      <img class="icon" src="images/logo-image-3.png">
    </div>
    <div class="col-md-4 restaurant-title">
      <div class="navbar-header">

        <a class="navbar-brand" href="/"><h2>Foghorn's Southern Diner</h2></a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
        </li>
        <li>
        <form action="/register" method="get">
          <button class="reg-badge" type="submit">Register</button>
        </form>
      </li>
    </ul>
  </div>

</div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <span class="cart-badge">
         <i class="fa fa-shopping-cart"></i>Cart
         <span class="badge">3</span>
        </span>


           <form action="/register" method="get">
            <button type="submit" class="btn btn-outline-primary reg-badge">Register</button>
           </form>

      </div>
    </div>
    <!-- /.navbar-collapse -->
    </div>
  <!-- /.container -->
</nav>
