<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Checkout</title>
</head>
<body>
<% include partials/_header.ejs %>
  <h1>Customer Name</h1><h1>Customer Phone Number</h1>
  <table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Your eats</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Waffle</td>
    <td>80</td>
  </tr>
  <tr>
    <td>Chicken</td>
    <td>92</td>
  </tr>
  <tr>
    <td>Waffle Chicken</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Chicken Waffle</td>
    <td>0</td>
  </tr>
</table>
  <form action="/neworder" method="post">
    <button>Confirm Order</button>
  </form>


</body>
</html>