<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Checkout</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
</head>
<body>
<% include partials/_header.ejs %>

  <h1>Customer Name</h1><h1>Customer Phone Number</h1>
  <table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Your eats</th>
    <th>Quantity</th>
    <th>Dollas</th>
    <th>Pay up</th>
  </tr>
  <tr>
    <td>Waffle</td>
    <td>80</td>
    <td>$.89</td>
    <td>SUM</td>
  </tr>
  <tr>
    <td>Chicken</td>
    <td>92</td>
    <td>$5</td>
    <td>SUM</td>
  </tr>
  <tr>
    <td>Waffle Chicken</td>
    <td>0</td>
    <td>$2</td>
    <td>SUM</td>
  </tr>
  <tr>
    <td>Chicken Waffle</td>
    <td>0</td>
    <td>$2.01</td>
    <td>SUM</td>
  </tr>
</table>
  <form action="/neworder" method="post">
    <button>Confirm Order</button>
  </form>

</body>
</html>
