<!DOCTYPE html>
<html lang="en">
<head>

  <title>Order For Pick Up</title>
  <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="../vendor/border-box.css" type="text/css" />
  <!-- Import Bootstrap API-->
  <link rel="stylesheet" href="/styles/layout.css">
  <script type="text/javascript" src="../scripts/app.js"></script>
</head>
<body>
<!-- Top nav bar follows this line -->
  <header>
    <!-- <% include partials/_header.ejs %> -->
  </header>
<body>
<!-- Menu items here -->

  <main id="menu">
    <% for(let type_id in food_types) { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="jumbotron">
            <div class="col-md-8">
              <section class="food-groups">
                <% for(let e = 0; e < 1; e ++) {%>
                  <h1><%=food_types[type_id][e].type_name%></h1>
                <%}%>
                <%for(let i = 0; i < food_types[type_id].length; i++) {
                  const food = food_types[type_id][i];%>
                  <form action="/menu" method="post">
                    <section class="options">
                      <span class="food-name"><%=food.name%></span>
                      <span class="food-desc"><%=food.description%></span>
                      <span class="food-price"><%=food.price%></span>
                    </section>
                  </form>
                <%} %>
              </section>
              </div>
            <div class="col-md-2"></div>
        </div>
      </div>
    <% } %>
        <!--


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form form action="/cart" method="post">
          <section class="appys">Greets
            <p>food name</p><input type="text">
          </section>
          <section class="main">Eats
            <p>food name</p><input type="text">
          </section>
          <section class="dessert">Sweets
            <p>food name</p><input type="text">
          </section>
          <section class="drink">Bevies
            <p>food name</p><input type="text">
          </section>
        </form>
      </div>

      <div class="col-md-2"></div>

       <form action="/cart" method="post">
        <section class="appys">Greets
          <p>food name</p><input type="text">
        </section>
        <section class="main">Eats
          <p>food name</p>
        </section>
        <section class="dessert">Treats
          <p>food name</p><input type="text">
        </section>
        <section class="drink">Sips
          <p>drink name</p><input type="text">
        </section> -->

  </main>

<script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</body>
</html>
