<!DOCTYPE html>
<html lang="en">
<head>

  <title>Order For Pick Up</title>
  <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="../vendor/border-box.css" type="text/css" />
  <!-- Import Bootstrap API-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="../scripts/app.js"></script>
</head>
<body>
<!-- Top nav bar follows this line -->
<header>
 <% include partials/_header.ejs %>
</header>

<!-- Menu items here -->
  <main id="menu">
      <form action="/menu" method="post">
        <% for(var type_id in food_types) { %>
          <section class="">
            <%= type_id %>
            <% for(var i = 0; i < food_types[type_id].length; i++) {
               var food = food_types[type_id][i];
            %>
              <pre><%= JSON.stringify(food, null, 2) %></pre>

            <%} %>
          </section>
        <% } %>
        <!-- <section class="appy">Greets
          <p>
          </p>
        </section>
        <section class="main">Eats
          <p>food name</p>
        </section>
        <section class="dessert">Treats
          <p>food name</p><input type="text">
        </section>
        <section class="drink">Sips
          <p>drink name</p><input type="text">
        </section> -->
      </form>
  </main>

</body>
</html>
