<!DOCTYPE html>
<html>
<head>
  <title>Register Your Info</title>
    <% include partials/_metadata.ejs %>
</head>
<body>
<!-- Top nav bar follows this line -->

  <% include partials/_header.ejs %>

  <main role="main" class="container-fluid">

    <div class="row">

      <table class="table table-striped">
        <colgroup span="7"></colgroup>
        <tr>
          <th class="text-center">Order ID</th>
          <th class="text-center">Customer Name</th>
          <th class="text-center">Phone Number</th>
          <th class="text-center">Ordered at</th>
          <th class="text-center">Estimates</th>
          <th class="text-center">Status</th>
          <th class="text-center"></th>
        </tr>
        <tr>
          <td class="text-center">1</th>
          <td class="text-center">Hoon Lee</th>
          <td class="text-center">2938473828</th>
          <td class="text-center">order time</th>
          <td class="text-center">estimates</th>
          <td class="text-center">status</th>
          <td class="text-center"><button>Update</button></th>
        </tr>

      </table>

    </div>



  </main>
    <% include partials/_footer.ejs %>
</body>
</html>
