<!DOCTYPE html>
<html>
<head>
  <title>Register Your Info</title>
    <% include partials/_metadata.ejs %>
</head>
<body>
<!-- Top nav bar follows this line -->
<header>
  <% include partials/_header.ejs %>
</header>
<main role="main" class="container-fluid">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Register Your Info</h3>
    <form method="post" action ="/register/addcust" class="form-horizontal">
      <div class="form-group"><div class="row">
          <label for="fullname">Name</label>
            <input class="form-control" id="username-field" type="text" name="fullname" placeholder="Full Name" >

      <div class="form-group">
        <label for="phone">Phone Number</label>
          <input class="form-control" id="phone-field" type="text" name="phone" placeholder="Gimme yo Digits" >
      </div>
        <div class="form-group">
            <button class="btn btn-primary pull-left">Checkout</button>
        </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
</main>
    <% include partials/_footer.ejs %>
</body>
</html>

