
<!DOCTYPE html>
<html>
<head>
  <title>Order Status</title>
  <% include partials/_metadata.ejs %>
</head>
<body>

  <main class="container-fluid">

    <% include partials/_header.ejs %>

    <div class="row">
      <h4 class="col-sm-6 text-center">Customer Name</h4>
      <h4 class="col-sm-6 text-center">Customer Phone Number</h4>
    </div>

    <div class="row">

      <table class="table table-striped">
        <colgroup span="5"></colgroup>
        <tr>
          <th class="text-center">Order ID</th>
          <th class="text-center">Order Amount</th>
          <th class="text-center">Ordered At</th>
          <th class="text-center">Order Status</th>
          <th class="text-center">Estimates</th>
        </tr>
        <tr>
          <td class="text-center">1</th>
          <td class="text-center">19.99</th>
          <td class="text-center">time</th>
          <td class="text-center">New</th>
          <td class="text-center">0.5 hr</th>
        </tr>

      </table>

    </div>
  </main>
  <% include partials/_footer.ejs %>
</body>
</html>
