.col-md-8 {
  margin-bottom: 10px;
}

.order {
  margin-right: 85px;
  border-radius: 10px !important;
  background-color: #6394F8 !important;
  line-height: 200% !important;
  border-color: #6394F8 !important;
}
