@import 'shopping-cart';

.container-fluid .jumbotron{
  position: relative;
  padding-left: 20px;
  border: 2px solid;
  border-color: #6d6561;
  background: #eeebe6;
  opacity: 0.5;
}

.options {
  padding-left: 30px;
  display: none;
}

.jumbotron:hover {
  border-color: #e48866;
  }

body {
  padding-top: 100px;
  padding-bottom: 80px;
  overflow: scroll;
}

.food-name .col {
  line-height: 0;
}

.food-desc .col {
  margin-bottom: 20px;
}

#register #bs-example-navbar-collapse-1 {
  display: none !important;
}

#checkout #bs-example-navbar-collapse-1 {
  display: none !important;
}

.features {
  text-align: center;
}
