@import 'shopping-cart';

.container-fluid .jumbotron{
  position: relative;
  padding-left: 60px;
  border: 2px solid;
}

body {
  padding-top: 100px;
  overflow: scroll;
}

.options {
  display: none;
}
